/* ===== IMPORT the Reset (incl. Normalize.css and HTML5 Boilerplate) ===== */
@import url("reset.css");

/* ===== Available MODERNIZR classes (for testing CSS3 support) ===== */
.no-js{}
.fontface{} 
.backgroundsize{} 
.borderimage{} 
.borderradius{} 
.boxshadow{} 
.multiplebgs{} 
.opacity{} 
.textshadow{} 
.generatedcontent{} 
.csstransforms{} 
.csstransitions{} 
.audio{} 
.video{} 
.shiv{}
.mq{}
.cssclasses{}
.teststyles{}
.testprop{}
.testallprops{}
.prefixes{}
.domprefixes{}
.load{}

/* ===== Additional MODERNIZR classes (for applying IE fixes) ===== */
.notie{}
.ie{} 
.ie6{} 
.lte7{} 
.lte8{}
.lte9{}

/* ===== Other DYNAMIC classes (check-width.js) ===== */
body.small{}
body.big{}


/* ===== Stuff we HIDE BY DEFAULT (trying to keep this to a minimum so as not to waste bits and bytes) ===== */
figure#home-map,
.browse #page-col-right,
.page #page-col-right,
#share-this{
	display: none;visibility: hidden;
	}


/* ===== NO JS ===== */
#no-js-message{display: none;visibility: hidden;height:0}
.no-js #no-js-message{display: block; visibility: visible;height:auto; background: #f5f581;padding: 0.5em;text-align: center;}

/* ===== GENERIC (grid, links, typography, etc) ===== */
body{width:100%; margin:0 auto; display:block;}
#wrap{width:95%; margin:0 auto; display:block;max-width: 25em;}
#content, footer{display: block;clear: both;}
article{display:block;}
section{display:block;}
aside{display:block;}
p{}

a, a:visited{}
a:hover{}
a:active{}


h1, h2, h3, h4, h5 {
	font-family: "news-gothic-std-1","news-gothic-std-2","Arial Narrow", "Arial", sans-serif;
	text-shadow: 0.01em 0.025em 0 #fff;
}



/* ===== MOBILE FIRST (and base for IEs and other old browsers) ===== */

/* NAV */
nav{}
nav ul{}
nav ul{padding: 0; text-align: center;}
nav#primary-nav ul li, nav#footer-nav ul li{display: inline;padding:1em 0.5em;}
nav.secondary-nav ul li{display: inline-block; margin-right: 1em;}
.pagination_list li{display: inline-block; margin-right: .15em;}

/* SEARCH */
#search-wrap{
	text-align: center;
	margin: 0 auto;
}
input#search,
input#submit_search{
    font-weight: lighter;
    color:#ccc;
    padding: 0.5em;	
}
input#search{
	background: url("../images/search.png") no-repeat scroll 97% center #FFFFFF;
    border-radius: 0.2em 0 0 0.2em;
    border-color: #333 #333 #333 #333;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    width: 68%;
    max-width: 17em;
}

input:focus#search{color:#333;}

input#submit_search{
	background: #333;
    border-radius: 0 0.2em 0.2em 0;
    border-color: #222 #222 #222 #333;;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    width: 25%;
    max-width: 7em;
    box-shadow: 0 0 1em #555555 inset;
    text-shadow: 0.01em 0.01em 0 #000;
}

/* MAP */
figure#home-map{} /* <-- set to display:none above, we'll undo that in the @media queries below */ 
#map-display { width: 100%; height: 335px;}
.geolocation_balloon_title{}
.geolocation_balloon_title a{}
.geolocation_balloon_description{font-size: .75em; color:#777;}

/* LOGO */
#logo {text-align: center;padding-top:1em;}


/* HOMEPAGE */
#homepage #home-tours{}
#homepage #recent-story{}
#homepage #featured-story{}
#homepage #custom-column{}
#homepage #downloads{}
#recent-story,#featured-story{}
#recent-story .item-image,#featured-story .item-image{}
#recent-story .item-text,#featured-story .item-text{}

#featured-story, #custom-column{
	background: #eaeaea;
	display: block;
	padding:0 1.5em .5em;
    border: 1px solid #fff;
    border-radius: .2em;	
    box-shadow: 0 0 5em #ccc inset;
}

#featured-story .item-thumb img{clear:both;width: 95%; margin: 0 auto 1em;}

section#downloads .app-store{
	display: block; 
	clear:both; 
	margin: .5em auto; 
	padding:.4em .5em 0.25em; 
	background-color: #eaeaea; 
	min-width: 15em;
	width: 95%;
	text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: .2em;
    color: #333;
    text-decoration: none;
    background-position: 1em .25em;
    background-repeat: no-repeat;   
    text-shadow: .005em .0015em 0 #fafafa; 
}
section#downloads .app-store:hover{
	background-color: #88B30B;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;	
}
section#downloads .app-store#apple {
    background-image: url("../images/apple-grey.png");
}

section#downloads .app-store#android {
    background-image: url("../images/android-grey.png");
}
section#downloads .app-store#android:hover{
	background-image: url("../images/android-black.png");	
}
section#downloads .app-store#apple:hover{
	background-image: url("../images/apple-black.png");
}

.generatedcontent #home-tours ul{padding-left:0}
.generatedcontent #home-tours li{list-style-type: none; margin-left:0; display: inline;}
.generatedcontent #home-tours li:after{content:", "}
.generatedcontent #home-tours li:last-child:after{content: " ";}


/* HOMEPAGE and ITEMS-BROWSE */
article.item-result{display: block;clear: both;}
article.item-result .item-description{} 
.item-thumb img{display: inline-block; width: 25%; float: left; height: auto;margin: .25em .75em .25em 0; padding:1%;background: #fff; border:1px solid #ccc; box-shadow: 0 0 .15em #777;}


/* BROWSE */
#subject-browse .pagination_list{font-size: smaller;}


/* TAGS */
.hTagcloud {margin-top:2em;}
.hTagcloud ul {list-style:none; margin-left:0; padding-left:0; line-height:1.8em;}
.hTagcloud li {display:inline;margin-right:8px;}

.popular {font-size:100%;}
.v-popular {font-size:140%;}
.vv-popular {font-size:180%;}
.vvv-popular {font-size:220%;}
.vvvv-popular {font-size:260%;}
.vvvvv-popular {font-size:300%;}
.vvvvvv-popular {font-size:320%;}
.vvvvvvv-popular {font-size:340%;}
.vvvvvvvv-popular {font-size:360%;}

.popular a, .popular a:visited {opacity: .65;}
.v-popular a, .v-popular a:visited {opacity: .75;}
.vv-popular a, .vv-popular a:visited {opacity: .75;}
.vvv-popular a, .vvv-popular a:visited {opacity: .85;}
.vvvv-popular a, .vvvv-popular a:visited {opacity: .85;}
.vvvvv-popular a, .vvvvv-popular a:visited {opacity: .95;}
.vvvvvv-popular a, .vvvvvv-popular a:visited {opacity: .95;}
.vvvvvvv-popular a, .vvvvvvv-popular a:visited {opacity: 1;}
.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {opacity: 1;}

/* ITEMS-SHOW */
a.fancybox-hide-text{
	font-size: smaller;
	border: 1px dotted #777;
    cursor: pointer;
    display: block;
    float: right;
    margin-left: 0.75em;
    padding: 0 0.5em;
}

.item-file img{width: 100%; height:auto;}

.item-map-link{font-size: smaller;}

/* STREAMING MEDIA */
video{max-width: 100%; height:auto}
#item-video .first {}
#item-video .not-first {} 
#item-video{max-width:100%; height:auto;clear:both;display: inline-block;}
audio{}

/* FOOTER */
footer{text-align: center;margin-top: 1em;padding-top:.5em; border-top:1px solid #ccc;}
footer p, footer nav {margin-bottom: .25em;}
footer p{font-size: smaller;}
#app-store-links{background: #eaeaea; width: 100%; display: block; padding: .75em 0; margin-top: .5em;margin-bottom: -1em;}



/*
**
**
**
**
**
**
============================================================ */
/* ===== MEDIA QUERIES for modern, non-mobile browsers ===== */


@media only screen and (max-width: 25em) {
	/*figure#home-map{display: block;visibility: visible}*/
}

@media only screen and (min-width: 25em) {
	/*figure#home-map{display: block;visibility: visible}*/
}

@media only screen and (min-width: 35em) {
	/*figure#home-map{display: block;visibility: visible}*/
}

@media only screen and (min-width: 60em) {
	/*figure#home-map{display: block;visibility: visible}*/
}

/* ===== MEDIA QUERIES for RETINA and HIDPI displays ===== */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* do something */
}
